body {
  margin: 0;
}

.about-section {
  background-color: #313046;
  color: white;
}

div {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.logo {
  width: 200px;
  margin-bottom: 40px;
}

.shape {
  width: 150px;
  display: block;
  margin: auto;
}

h1 {
  font-size: 60px;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: oblique;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 2px;
}

.btn {
  color: white;

  display: inline-block;
  margin: 32px 0;
  padding: 15px 35px;
  
  text-transform: capitalize;
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 20px 1px #070807;
  background: rgb(255,165,0);
background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(204,144,3,1) 100%);
  
  
}


}

p {
  font-size: 20px;
}

.search {
  width: 80%;
  margin-top: 20px;
}

.green {
  color: seagreen;
}

.orange {
  color: orange;
}
